*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom styles */
:root {
    --ff-reg: 'Roboto', sans-serif;
    --ff-monospace: 'Roboto Mono', monospace;

    --fw-bold: 900;
    --fw-reg: 400;
}

/* general styles */
body {
    line-height: 1.75;
    margin: 0;
    padding: 0;
}

.body {
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .body {
        width: 450px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .body {
        width: 650px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .body {
        width: 850px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .body {
        width: 1150px;
        margin: 0 auto;
    }
}

.main__div {
    padding: 1em;
}

/* header area */
.header__img--container {
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 2em;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}

.header-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.header__div--title {
    font-family: var(--ff-monospace);
    font-weight: var(--fw-bold);
}

.header__div--subtitle {
    padding: 1em;
}

.header__div--btn {
    padding-top: .75em;
}

header a {
    border-radius: 5px;
}

.style__first--latter {
    font-size: 3.5rem;
    color: gold;
}

@media (min-width: 992px) {
    .header__img--container {
        display: inline-block;
        position: relative;
        padding-right: 1em;
        left: 12%;
        max-width: 300px;
        max-height: 300px;
    }

    .header__section--head {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

     .header__div--head {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding-top:.15em;
        margin-left: 1em;
        padding: 1em;
    }

    .header__img--container {
        
    }

    .header-img {
        margin-right: 2em;
    }

    .header__div--title {
        padding-top: 4.75rem;
    }

    .header__div--subtitle {
        margin: 0 auto;
        padding: .5em;
    }
}

@media (min-width: 1140px) {
    .header__img--container {
        left: 12%;
    }


    .header__div--subtitle {
        padding: .5em;
    }
}


/* main area */
    /* about setion */
#about {
    position: relative;
}

#about::after {
    display: block;
    content: "";
    width: 1em;
    height: 5px;
    background-color: gold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: .75em;
}

.about--general {
    margin: 0 auto;
    margin-top: 2.5em;
}

.skill {
    margin-left: 2em;
    letter-spacing: 1px;
    font-size: .95em;
    font-weight: 600;
    color: rgb(108, 117, 125);
    background-color: rgba(153,153,153,.2);
}

    /* project section */
#project {
    width: 300px;
    margin: 0 auto  ;
}

.project__heading {
    position: relative;
    margin: 0 auto;
}

.project__heading::after {
    display: block;
    content: "";
    width: 1em;
    height: 5px;
    background-color: gold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: .75em;
}

.project-about {
    margin-left: -10px;
}

.main__div--project-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__project--width {
    width: 250px;
    margin: 0 auto;
    margin-left: -10px;
    padding: 1em;
}

.div__project--img-width {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -5px;
    width: 230px;
}

.project-item {
    width: 100%;
}

.project__div--title {
    margin-top: 1em;
    margin-bottom: 1em;
}

.project__div--btn {
    display: block;
    text-decoration: none;
    color: black;
    background-color: gold;
    margin: 1em;
    margin-bottom: 1em;
    padding: .5em 1em;
    border-radius: 5px;
}

@media (min-width: 576px) {
    #project {
        width: 450px;
    }

    .main__div--project-container {
        width: 440px;
    }

    .div__project--width {
        width: 420px;
        margin-left: -10px;
    }
    
    .div__project--img-width {
        width: 400px;
        margin-bottom: 2em;
        margin-left: -5px;
    }
}

@media (min-width: 992px) {
    .main__div--project-container {
        display: grid;
        gap: 1em;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .div__project--width {
        margin-left: 2em;
    }
    
}

    /* hiring section */
#hiring::after {
    display: block;
    content: "";
    width: 1em;
    height: 5px;
    background-color: gold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: .75em;
}

.p__email--link:hover {
    color: green;
}

.p__email--link:active {
    color: red;
}
