body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 300px;
    margin: 0 auto;
    padding: 1em;
}

@media (min-width: 576px) {
    .body {
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .body {
        width: 700px;
        margin: 0 auto;
    }

    .main__div--content-edu {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .body {
        width: 900px;
        margin: 0 auto;
    }

    .header {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1em;
    }
}

/* header area styling */
header {
    margin-top: 7em;
    text-align: center;
    margin-bottom: 3em;
}

.header__h1--title {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.header__div--img {
    width: 250px;
    margin-bottom: 1em;
}

header img {
    width: 100%;
    border-radius: 5px;
}

.header__div--content span {
    display: block;
    margin-top: 1em;
}

.span__block {
    display: block;
    margin: 0 auto;
    margin: 2em;
}

#resume {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: gold;
    border-radius: 5px;
    padding: .5em 2em;
}

@media (min-width: 992px) {
    .header {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2em;
    }
}

/* main area styling */
.main__div--content {
    margin-bottom: 3em;
}

.main__div--title {
    margin-bottom: 1em;
}