body {
    margin: 0;
    padding: 0;
}

.body {
    width: 850px;
    margin: 0 auto;
}

/* header style */
header {
    margin: 0 auto;
    margin-top: 9rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.header__div--img {
    width: 300px;
    height: 300px;
}

.header__div--img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.header__div--content {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-left: 5em;
}

.header__div--content span {
    display: inline-block;
    padding: .5em;
    padding-top: .25em;
}

.my-information {
    display: inline-block;
}

#resume {
    padding: .25em 1em;
    border-radius: 10px;
    background-color: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#resume:hover {
    color: rgba(0, 0, 0, .8);
}

/* main style */
.span__about--me {
    display: inline-block;
    margin-right: 1em;
}

.main__div--title {
    margin-top: 2em;
}

.main__div--content-edu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5em;
}

.main__span--inline-block-education {
    display: inline-block;
    margin-right: 1em;
    padding-inline: 1em;
}